<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
        <!--Barra de navegacion de los valores criticos-->
    <ul class="barra__vc">
        <li class="barra__vc--item">
            <a href="/valores_criticos_temp/"> Temperatura </a>
        </li>
        <li class="barra__vc--item">
            <a href="/valores_criticos_hum/">Humedad</a>
        </li>
        <li class="barra__vc--item">
            <a href="/valores_criticos_pres/">Presion</a>
        </li>
    </ul>
</body>
</html>