<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
    <ul class="barra">
        <li class="barra__item">
            <a href="/"> Inicio </a>
        </li>
        <li class="barra__item">
            <a href="/lecturas/">Lecturas</a>
        </li>
        <li class="barra__item">
            <a href="/valores_criticos/">Valores criticos</a>
        </li>
        <li class="barra__item">
            <a href="/contacto/"> Contacto</a>
        </li>
    </ul>
</body>
</html>