<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="OG:TITLE" content="ConSens">
    <meta name="OG:IMAGE" content="{%static 'img/logo.png'%}">
    <meta name="OG:description" content="Pagina dedicada al control de sensores (ConSens) creado por estudiantes de la UNC-FCEFyN">
    <title> ConSens </title>
    <link rel="icon" href="{%static 'img/logo.png'%}" type="image/png">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <header>
        <a href="/">
            <img src="{%static 'img/ConSens.png'%}" alt="Logo de ConSens" class="logo">  
        </a>
        {% include "barra.html"%}
    </header>
    
    <div>

    </div>

    <footer>
        
    </footer>
</body>
</html>