<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="OG:TITLE" content="ConSens">
    <meta name="OG:IMAGE" content="{%static 'img/logo.png'%}">
    <meta name="OG:description" content="Pagina dedicada al control de sensores (ConSens) creado por estudiantes de la UNC-FCEFyN">
    <title> ConSens </title>
    <link rel="icon" href="{%static 'img/logo.png'%}" type="image/png">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>

<body>
    <header>
        {% include "barra_nav.html"%}
    </header>
    
    <div id="tittle">
        Registro mas reciente de cada modulo
    </div>

    <table class="tabla__index">
        <tr>
            <th class="tabla__item">Fecha</th>
            <th class="tabla__item">Hora</th>
            <th class="tabla__item">Modulo</th>
            <th class="tabla__item">Ubicación</th>
            <th class="tabla__item">Temperatura [°C]</th>
            <th class="tabla__item">Humedad [%]</th>
            <th class="tabla__item">Presión [Pa]</th>
        </tr>

        {% for registro in ultimos_registros %}

        <tr>
            <td class="tabla__item">{{ registro.fecha }}</td>
            <td class="tabla__item">{{ registro.hora }}</td>
            <td class="tabla__item">{{ registro.modulo.nombre }}</td>
            <td class="tabla__item">{{ registro.ubicacion }}</td>
            <td class="tabla__item">{{ registro.temperatura }}</td>
            <td class="tabla__item">{{ registro.humedad }}</td>
            <td class="tabla__item">{{ registro.presion }}</td>
        </tr>

        {% endfor %}

    </table>
    <footer>
        
    </footer>
</body>
</html>