<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="OG:TITLE" content="ConSens">
    <meta name="OG:IMAGE" content="{%static 'img/logo.png'%}">
    <meta name="OG:description" content="Pagina dedicada al control de sensores (ConSens) creado por estudiantes de la UNC-FCEFyN">
    <title>Lecturas</title>
    <link rel="icon" href="{%static 'img/logo.png'%}" type="image/png">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
    <header>
        {% include "barra_nav.html"%}
    </header>

    <form class="filtros" action="{% url 'filtrar_lecturas' %}" method="get">

        <input type="text" id="filtros__ubicacion" name="ubicacion" placeholder="Filtrar por ubicacion">

        <input type="text" id="filtros__modulo" name="modulo" placeholder="Filtrar por modulo">

        <label for="#filtros__fecha" id="texto">Desde:</label>
            <input type="date" id="filtros__fecha"name="fecha_min">

        <label for="#filtros__fecha" id="texto">Hasta:</label>
            <input type="date" id="filtros__fecha" name="fecha_max">

        <button id="filtros__filtrar">Filtrar</button>
    </form>

    <table class="tabla">
        <tr>
            <th class="tabla__item"><a href="?sort={% if sort == 'fecha' %}-fecha{% else %}fecha{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Fecha</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'hora' %}-hora{% else %}hora{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Hora</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'modulo' %}-modulo{% else %}modulo{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Módulo</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'ubicacion' %}-ubicacion{% else %}ubicacion{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Ubicación</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'temperatura' %}-temperatura{% else %}temperatura{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Temperatura[°C]</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'humedad' %}-humedad{% else %}humedad{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Humedad[%]</a></th>
            <th class="tabla__item"><a href="?sort={% if sort == 'presion' %}-presion{% else %}presion{% endif %}&ubicacion={{ request.GET.ubicacion }}&modulo={{ request.GET.modulo }}&fecha_min={{ request.GET.fecha_min }}&fecha_max={{ request.GET.fecha_max }}">Presión[HPa]</a></th>
        </tr>
    
        {% for registro in datos %}
        <tr>
            <td class="tabla__item">{{ registro.fecha }}</td>
            <td class="tabla__item">{{ registro.hora }}</td>
            <td class="tabla__item">{{ registro.modulo.nombre }}</td>
            <td class="tabla__item">{{ registro.ubicacion }}</td>
            <td class="tabla__item">{{ registro.temperatura }}</td>
            <td class="tabla__item">{{ registro.humedad }}</td>
            <td class="tabla__item">{{ registro.presion }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="paginacion">
        {% if datos.has_previous %}
            <a href="?page={{ datos.previous_page_number }}&sort={{ sort }}" class="step-links">Anterior</a>
        {% endif %}
    
        {% if datos.has_next %}
            <a href="?page={{ datos.next_page_number }}&sort={{ sort }}" class="step-links">Siguiente</a>
        {% endif %}
    </div>

</body>
</html>